# Tap(リポジトリ)の追加
- name: Add Homebrew Taps
  community.general.homebrew_tap:
    name: FelixKratz/formulae
    state: present

- name: UpdateHomebrew
  community.general.homebrew:
    update_homebrew: yes

# CUIのインストール
- name: Install Homebrew Packages
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop:
    - zsh-autosuggestions 
    - zsh-syntax-highlighting 
    - navi
    - fzf
    - cmatrix
    - cava
    - fastfetch
    - figlet
    - lolcat
    - tty-clock
    - yazi
    - ffmpegthumbnailer
    - unar
    - jq
    - poppler
    - fd
    - ripgrep
    - zoxide
    - sketchybar
    - lua
    - switchaudio-osx
    - nowplaying-cli
    - pnpm
    - lazygit
    - gh

# Caskのインストール
- name: Install Homebrew Casks
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop:
    - ghostty
    - raycast
    - nikitabobko/tap/aerospace
    - alt-tab
    - sf-symbols
    - font-hack-nerd-font
    - font-sf-pro
    - font-sf-mono

# SketchyBar 関連の処理

# SbarLua のインストール
- name: Clone SbarLua
  git:
    repo: https://github.com/FelixKratz/SbarLua.git
    dest: /tmp/SbarLua
    force: yes

- name: Compile and Install SbarLua
  shell: |
    cd /tmp/SbarLua
    make install
  args:
    creates: /opt/homebrew/lib/sketchybar.so
  become: yes

# icon_update.shを実行
- name: Run sketchybar icon updater
  shell: |
    chmod +x {{ ansible_facts.env.HOME }}/dotfiles/sketchybar/icon_updater.sh
    {{ ansible_facts.env.HOME }}/dotfiles/sketchybar/icon_updater.sh

# SketchyBar サービスの起動
- name: Restart SketchyBar service
  shell: brew services stop sketchybar || true && brew services start sketchybar

