# Tap(リポジトリ)の追加
- name: Add Homebrew Taps
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop:
    - FelixKratz/formulae
    - xwmx/taps

- name: UpdateHomebrew
  community.general.homebrew:
    update_homebrew: yes

# CUIのインストール
- name: Install Homebrew Packages
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop:
    - navi
    - fzf
    - cmatrix
    - cava
    - fastfetch
    - figlet
    - lolcat
    - tty-clock
    - yazi
    - ffmpegthumbnailer
    - unar
    - jq
    - poppler
    - fd
    - ripgrep
    - zoxide
    - sketchybar
    - lua
    - switchaudio-osx
    - nowplaying-cli
    - pnpm
    - lazygit
    - gh
    - sheldon
    - nb
    - node
    - nvim
    - bat
    - delta
    - thefuck
    - eza

# Caskのインストール
- name: Install Homebrew Casks
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop:
    - ghostty
    - raycast
    - nikitabobko/tap/aerospace
    - alt-tab
    # 手動で入れる必要ありかも
    - sf-symbols
    - font-hack-nerd-font
    - font-sf-pro
    - font-sf-mono

- name: Install tree-sitter-cli globally via npm
  community.general.npm:
    name: tree-sitter-cli
    global: yes
    state: latest
  become: true

# SketchyBar サービスの起動
- name: Restart SketchyBar service
  shell: brew services stop sketchybar || true && brew services start sketchybar
